<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>boolflix</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <div class="boxs-container container" id="app">
          <header>
              <div class="container">
                <input type="text" v-model="query"  v-on:keyup="searchFilm">
                <button @click="searchFilm" type="button" name="button">CERCA</button>
              </div>
          </header>

          <div v-for="film in media" class="box">
            <img v-if="film.backdrop_path == null" src="img\pellicola.jpg" alt="senzacopertina">
            <img v-else :src="'https://image.tmdb.org/t/p/w500' + film.backdrop_path" alt="copertina">
            <h3 v-if="film.title" class="title">{{film.title}}</h3>
            <h3 v-else class="title">{{film.name}}</h3>
            <img :src="'img/' + film.original_language + '.png'" alt="lingua mancante" class="img-lingua">
            <span class="voto">
              <i v-for="star in (film.vote_average)" class="fas fa-star gialla"></i>
              <i v-for="star in (5 - film.vote_average)" class="fas fa-star"></i>
            </span>
          </div>
        </div>

        <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>
