<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>boolflix</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <div class="container" id="app">
          <header>
              <h1>GREENFLIX</h1>
              <div class="header-right">
                <input type="text" v-model="query" placeholder="Cerca film o serie TV" v-on:keyup.enter="searchFilm">
                <button @click="searchFilm" type="button" name="button">CERCA</button>
              </div>
          </header>

          <main>
            <div v-for="film in media" class="box">
              <img v-if="film.poster_path == null" src="img\pellicola.jpg" alt="senzacopertina">
              <img v-else :src="'https://image.tmdb.org/t/p/w342' + film.poster_path" alt="copertina">
              <div class="nascosta">
                <h2 v-if="film.title" class="title">{{film.title}}</h2>
                <h2 v-else class="title">{{film.name}}</h2>
                <img :src="'img/' + film.original_language + '.png'" alt="lingua mancante" class="img-lingua">
                <span class="voto">
                  <i v-for="star in (film.vote_average)" class="fas fa-star gialla"></i>
                  <i v-for="star in (5 - film.vote_average)" class="fas fa-star"></i>
                </span>
                <p>{{film.overview}}</p>
              </div>
            </div>
          </main>
        </div>

        <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>
